<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="matches" href="/tabs/matches">

      <ion-icon name="football-sharp"></ion-icon>

      <ion-label>Partidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report-result" href="/tabs/report-result">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Reportar Resultados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera" href="/tabs/camera">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Camara</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
